
{% extends "layout.html" %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">

  <h1>Welcome to Membership Management System</h1>

    {% if current_user.is_authenticated %}
        {% if current_user.is_current_member() %}
            <p>To Manage Your Membership, use the navigation links above</p>
        {% else%}
            <p>To Manage Membership, Purchase Day Passes or other activities, see the <a href="{{ url_for("membership.plans") }}" class="btn btn-primary btn-large">Membership Page</a></p>
        {% endif %}
    {% else %}
        <p>To Manage Membership, Purchase Day Passes or other activities, please <a href="{{ url_for("public.register") }}" class="btn btn-primary btn-large">Register Now</a></p>
    {% endif %}
    <p></p>
</div><!-- /.jumbotron -->

<div class="body-content">
  <div class="row">
    <div class="col-lg-4">
      <h2><i class="fa fa-code"></i> Someone should</h2>
    </div>
    <div class="col-lg-4">
      <h2><i class="fa fa-flask"></i> Really Put</h2>
   </div>
    <div class="col-lg-4">
      <h2><i class="fa fa-edit"></i> Stuff Here</h2>
    </div>
  </div><!-- /.row -->
</div>
{% endblock %}

